:root {
    --accent: #7A8D25;
    --background: #FFFEFA;
    --text: #383838;
}

body {
    background-color: var(--background);
    transition: background-color 0.5s ease;

}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 31px;
}


button {
    border: none;
    background-color: transparent;
}

button svg path {
    transition: stroke 0.2s ease;
    stroke: var(--text);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 1s ease;

}

button:hover svg path {
    stroke: var(--accent);
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    color: var(--text);
    text-align: center;
    font-family: "Gilda Display";
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 150px;
    transition: color 0.5s ease;
}

.subtitle {
    color: var(--text);
    font-family: Chathura;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    transition: color 0.5s ease;

}

/* inverted theme overrides */
body.inverted {
    --background: #7A8D25;
    --text: #FFFEFA;
    --accent: #383838;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--accent);
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.nav ul {
    list-style: none;
    padding: 100px;
    margin: 0;
    text-align: left;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    color: var(--background);
    font-size: 4rem;
    text-decoration: none;
    transition: color 0.3s ease;

}

.nav ul li a:hover {
    color: var(--text);
}

.close-menu {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 4rem;
    background: transparent;
    border: none;
    color: var(--background);
    cursor: pointer;
    transition: color 0.3s ease;

}

.close-menu:hover {
    color: var(--text);
}

.heading {
    margin: 30px 30px;
}

.page-heading {
    color: var(--text);
    text-align: center;
    font-family: "Gilda Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    transition: color 0.5s ease;
}

.card-wrapper {
    position: relative;
    display: inline-block;
    margin: 40px auto;
}

.card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid var(--text);
    background-color: var(--background);
    transition: transform 0.3s ease;
}

.card-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--accent);
    z-index: 1;
    pointer-events: none;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}

.card-wrapper:hover::before {
    transform: translate(-10px, 10px);
}

.card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}

.card-title {
    color: #000;
    font-family: "Gilda Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.card-subtitle {
    color: #000;
    font-family: Chathura;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    text-align: center;
    /* 42.5px */
}

.date {
    color: #7A8D25;
    font-family: Chathura;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 85%;
    /* 42.5px */
    text-align: right;
}

.illustration-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px 0;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.image-gallery {

    display: flex;
    width: 1149px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 21px;
    flex-wrap: wrap;

}

.divider {
    width: 1146px;
    margin: -20px 0 40px 0;
    height: 1px;
    background: var(--text);
}