:root {
    --accent: #7A8D25;
    --background: #FFFEFA;
    --text: #383838;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--background);
    transition: background-color 0.5s ease;
    overflow-x: hidden;
    margin: 35px;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 31px;
}


button {
    border: none;
    background-color: transparent;
}

button svg path {
    transition: stroke 0.2s ease;
    stroke: var(--text);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 1s ease;

}

button:hover svg path {
    stroke: var(--accent);
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-illust {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    margin-top: -100px;

}

.my-svg-illustration {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.title {
    color: var(--text);
    text-align: center;
    font-family: "Gilda Display";
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 150px;
    transition: color 0.5s ease;
}

.subtitle {
    color: var(--text);
    font-family: Chathura;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    transition: color 0.5s ease;

}

body.inverted {
    --background: #7A8D25;
    --text: #FFFEFA;
    --accent: #383838;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--accent);
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.nav ul {
    list-style: none;
    padding: 100px;
    margin: 0;
    text-align: left;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    position: relative;
    display: inline-block;
    color: var(--background);
    font-size: 4rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background-color: var(--background);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.nav ul li a:hover::after {
    transform: scaleX(1);
}


.close-menu {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 4rem;
    background: transparent;
    border: none;
    color: var(--background);
    cursor: pointer;
    transition: color 0.3s ease;

}

.close-menu:hover {
    color: var(--text);
}

.heading {
    margin: 50px auto;
}

.page-heading {
    color: var(--text);
    text-align: center;
    font-family: "Gilda Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    transition: color 0.5s ease;
}

.card-wrapper {
    position: relative;
    display: inline-block;
    margin: 40px auto;
}

.card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid var(--text);
    background-color: var(--background);
    transition: transform 0.3s ease;
}

.card-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--accent);
    z-index: 1;
    pointer-events: none;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}

.card-wrapper:hover::before {
    transform: translate(-10px, 10px);
}

.card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
}

.card-title {
    color: #000;
    font-family: "Gilda Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.card-subtitle {
    color: #000;
    font-family: Chathura;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    text-align: center;
    /* 42.5px */
}

.date {
    color: #7A8D25;
    font-family: Chathura;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 85%;
    /* 42.5px */
    text-align: right;
}

.illustration-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px 0;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
}

.image-gallery {

    display: flex;
    width: 1149px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 21px;
    flex-wrap: wrap;

}

.divider {
    width: 1146px;
    margin: -20px 0 40px 0;
    height: 1px;
    background: var(--text);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    max-height: 80vh;
    object-fit: contain;
    border-radius: 10px;
    z-index: 2;
}

.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
}

.modal-arrow.left {
    left: -5rem;
}

.modal-arrow.right {
    right: -5rem;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-gallery img {
    cursor: pointer;
}

h3 {
    color: var(--text);
    font-family: Chathura;
    font-size: 55px;
    font-style: normal;
    font-weight: 250;
    line-height: 2rem;
    align-self: stretch;
}

.design-img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.column-content {
    display: flex;
}

.column-one {
    flex: 1.1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-project {
    cursor: pointer;
    border-bottom: 1px solid var(--text);
}

.design-project:last-child {
    border-bottom: none;
}

.design-project:hover h3 {
    color: var(--accent);
    font-weight: 800;
}

.column-two {
    flex: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.design-img-wrapper {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.design-img-wrapper.active {
    opacity: 1;
    position: relative;
}


.st1 {
    fill: none;
    stroke: var(--text);
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}


.stFill {
    fill: var(--text);
    stroke: none;
}

.my-svg-illustration svg {
    width: 300px;
    height: auto;
    max-width: 100%;
    display: block;
}


.st0 {
    display: none;
}

.st1 {
    display: inline;
    fill: none;
    stroke: var(--text);
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    display: inline;
    fill: var(--text);
}

.st3 {
    fill: none;
    stroke: var(--text);
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st4 {
    stroke: var(--text);
    stroke-width: 3.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    fill: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.about img {
    width: 33%;
    border-radius: 20px;
}

.about {
    margin: 30px;
    display: flex;
    align-items: center;
    gap: 78px;
    padding: 0;
}

.about-name {
    color: var(--text);
    text-align: left;
    font-family: "Gilda Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.about-body {
    color: var(--text);
    text-align: left;
    font-family: Chathura;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.about-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    margin-top: 65px;
    margin-bottom: 65px;
}

.about-button {
    position: relative;
    background-color: var(--background);
    display: flex;
    width: 100%;
    height: 85px;
    padding: 8px 144px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--text);
    color: var(--text);
    text-align: center;
    font-family: Chathura;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    z-index: 2;

}

.about-wrapper {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.about-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--accent);
    z-index: 0;
    pointer-events: none;
    transform: translate(0, 0);
    transition: transform 0.3s ease;
}

.about-wrapper:hover::before {
    transform: translate(-10px, 10px);
}