/* make sure images don't distort */
img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
}

/* full width image */
.img-full {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: 1rem;
}

/* side-by-side images */
.marketing-gallery,
.materials-gallery,
.presentation-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-half {
    flex: 1 1 calc(50% - 0.5rem);
    aspect-ratio: 4 / 3;
    max-width: calc(50% - 0.5rem);
}

.study-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 0 auto;
}

.study-content img {
    width: 100%;
    border-radius: 20px;
}

.section-heading {
    color: var(--textcolor);
    font-family: "Gilda Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

p {
    color: #000;
    font-family: Chathura;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 85%;
    margin-top: -50px;
}